.education-heading{
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 600;
}

.edu-subheading{
    font-size: 14px;
    font-weight: 400;
    display: block;
    margin-bottom: 20px;
}

.edu-palce{
    font-size: 15px;
    font-weight: 400;
}