.sticky-icons{
    position: absolute;
    top:350px;
    left: -40px;
    display: flex;
    align-items: center;
    gap: 30px; 
    transform: rotate(-90deg);
}

.sticky-icn-box{
    display: flex;
    flex-direction: column;
    gap: 8px;
    transform: rotate(90deg);
    margin-left:20px ;
}

.sticky-icn-box >a {
    color: black;
}

.stert-line{
    width: 60px;
    background-color:black ;
    height: 1px;
}

.stickyheading{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
    /* margin-right:30px; */
}