.page-heading{
    font-size: 50px;
    font-weight: 600;
    margin-top: 60px;
    margin-left: 105px;
    color: var(--light-blue);
}

.page-heading-dot{
    background-color: var(--yellow);
    margin-left: 5px;
    width: 60px;
    display: inline-block;
    height: 6px;
    color: var(--yellow);
    font-size: 60px;
    border-radius: 50px;
}