*{
  font-family: "Poppins", sans-serif;
}

:root{
  --black:#292929;
  --yellow:rgb(255, 187, 0);
  --blue:#0438e5;
  --light-blue:#6ca2ff;
}

a{
  text-decoration: none;
}

.ml-100{
  margin-left: 100px;
}

.ml-67{
  margin-left: 67px;
}

.mb-80{
  margin-bottom: 80px;
}

/* Resume btn code */
.download-resume{
  border: 2px solid var(--light-blue) ;
  background-color: transparent;
  color: var(--light-blue);
  padding:10px 30px;
  font-size: 18px;
}

.download-resume:hover{
  transition: 0.8s ease-in-out;
  
}